.pagination {
    display: flex; /* Use flexbox to align items in a row */
    justify-content: center; /* Center align items horizontally */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #fff;
    text-decoration: none;
    background-color: #c3275a;
    border: var(--bs-pagination-border-width) solid #292d2e;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Optional: Add a hover effect */
.page-link:hover {
    background-color: #a91f4d; /* Darker shade for hover effect */
}

.active > .page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #091220;
    border-color: #000102;
}

/* Additional spacing between pagination items */
.page-link:not(:last-child) {
    margin-right: 10px; /* Adjust the spacing as needed */
}
