.sidebar_main {
    background: var(--primary-color);
    width: 235px;
    height: 90vh;
    position: fixed;
    left: 0px;
    top: 95px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;
    transition: 0.4s ease-in-out;
    z-index: 2099;
}

.siderbar_items {
    padding: 20px 14px;
    list-style: none;
}

.siderbar_item {
    background-color: rgb(50, 55, 56);
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
}

.siderbar_item a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 5px 10px;
}

.siderbar_item span {}

.siderbar_item i {}

.siderbar_item:hover .sidebar_link,
.siderbar_item.active .sidebar_link,
.sub-menu_list:hover a,
.sub-menu_list.active a {
    background: linear-gradient(90deg, var(--main_color), #ff1f6896);
    border-radius: 5px;
    /* background: var(--main_color); */
}

.sidebar_link i.fa-chevron-down {
    font-size: 14px;
    background: rgb(70, 79, 80);
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

.fa-chevron-down.show {
    transform: rotate(180deg);
}

.sub-menu {
    list-style: none;
    padding-left: 15px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    transform: translateY(-10px);
}

.siderbar_item .sub-menu_list {
    border-radius: 5px;
    margin: 5px 0px;
}

.sub-menu_list a {
    border-radius: 5px;
}

.sub-menu_list a span {}

.main_section {
    margin-left: 235px;
    padding: 20px 0px;
    transition: 0.4s ease-in-out;
    padding-bottom: 0;
}

.sub-menu.show {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.navbar-brand img {}

@media (min-width: 767px) {
    .btn_sidebar_pc {
        display: inline;
    }

    .sidebar_main.hide {
        transform: translateX(-235px);
    }

    .main_section.hide {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .sidebar_main {
        transform: translateX(-235px);
    }

    .navbar-brand img {
        max-width: 118px;
    }

    .main_section {
        margin-left: 0px;
    }

    .sidebar_main.show {
        transform: translateX(0px);
    }

    .btn_sidebar {
        display: inline;
    }

    .btn_signup,
    .btn_signin {
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sidebar_main {
        height: 95vh;
        top: 70px;
    }
}

.banner_section {
    margin-bottom: 20px;
}

.banner_img {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;
    background: var(--primary-color);
    min-height: 150px;
}

.banner_img img {
    min-height: 150px;
    object-fit: cover;
    right: 0px;
    background: red;
}

.banner_content {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.banner_content h2 {
    font-weight: 600;
    color: var(--white-color);
    font-size: calc(-5px + 2vw);
    margin-bottom: 10px;
}

.banner_text {
    background: rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0px;
    display: block;
}

.banner_text h6 {
    color: var(--white-color);
    font-size: 16px;
    margin-bottom: 5px;
}

.banner_text p {
    color: var(--white-color);
    font-size: 18px;
}

.banner_text p span {
    color: var(--main_color);
    font-weight: 700;
}

.game_slider .swiper-wrapper {
    transition-timing-function: linear !important;
}

.game_slider {
    display: block;
    margin: 10px 0px;
}

.game_slier_1 {
    margin: 20px 0px 0px;
}