@import url("https://fonts.googleapis.com/css2?family=Average+Sans&display=swap");

* {
    margin: 0px;
    padding: 0px;
	color:white !important;
}

input,
select,
textarea {
    outline: 0 !important;
    padding: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #292D2E;
    --secondary-color: #232626;
    --white-color: #ffffff;
    --black-color: #000;
    /* --main_color: #24ee89; */
    --main_color: #ff1f68;
    --main_color_hover: #c91a53;
}

body {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}

.btn_signin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border-radius: 0.375rem;
    user-select: none;
    border: 1px solid rgba(228, 234, 240, 0.098);
    margin-right: 10px;
    color: rgb(255, 255, 255) ;
    text-decoration: none;
}

.btn_signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border-radius: 0.375rem;
    user-select: none;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(90deg, #ff1f688a, var(--main_color));
    color: var(--white-color);
}

.navbar_section {}

.navbar_secion {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px;
    position: sticky;
    top: 0px;
    z-index: 9;
}

.navbar_secion .navbar {
    background: var(--primary-color);
}

.button_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_signup:hover {
    box-shadow: ff1f688a 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;
}

.btn_sidebar {
    padding: 1px 5px;
    cursor: pointer;
    border-radius: 0.375rem;
    user-select: none;
    border: 1px solid rgba(228, 234, 240, 0.098);
    margin-right: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: transparent;
    font-size: 20px;
    display: none;
}

.btn_sidebar_pc {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.375rem;
    user-select: none;
    border: 1px solid rgba(228, 234, 240, 0.098);
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: transparent;
    font-size: 20px;
    display: none;
}

.navbar-brand {}

.main_content {}

.sidebar_main {
    background: var(--primary-color);
    width: 235px;
    height: 90vh;
    position: fixed;
    left: 0px;
    top: 95px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;
    transition: 0.4s ease-in-out;
    z-index: 2099;
}

.siderbar_items {
    padding: 20px 14px;
    list-style: none;
}

.siderbar_item {
    background-color: rgb(50, 55, 56);
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
}

.siderbar_item a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 5px 10px;
}

.siderbar_item span {}

.siderbar_item i {}

.siderbar_item:hover .sidebar_link,
.siderbar_item.active .sidebar_link,
.sub-menu_list:hover a,
.sub-menu_list.active a {
    background: linear-gradient(90deg, var(--main_color), #ff1f6896);
    border-radius: 5px;
    /* background: var(--main_color); */
}

.sidebar_link i.fa-chevron-down {
    font-size: 14px;
    background: rgb(70, 79, 80);
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

.fa-chevron-down.show {
    transform: rotate(180deg);
}

.sub-menu {
    list-style: none;
    padding-left: 15px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    transform: translateY(-10px);
}

.siderbar_item .sub-menu_list {
    border-radius: 5px;
    margin: 5px 0px;
}

.sub-menu_list a {
    border-radius: 5px;
}

.sub-menu_list a span {}

.main_section {
    margin-left: 235px;
    padding: 20px 0px;
    transition: 0.4s ease-in-out;
    padding-bottom: 0;
}

.sub-menu.show {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.navbar-brand img {}

@media (min-width: 767px) {
    .btn_sidebar_pc {
        display: inline;
    }

    .sidebar_main.hide {
        transform: translateX(-235px);
    }

    .main_section.hide {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .sidebar_main {
        transform: translateX(-235px);
    }

    .navbar-brand img {
        max-width: 118px;
    }

    .main_section {
        margin-left: 0px;
    }

    .sidebar_main.show {
        transform: translateX(0px);
    }

    .btn_sidebar {
        display: inline;
    }

    .btn_signup,
    .btn_signin {
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sidebar_main {
        height: 95vh;
        top: 70px;
    }
}

.banner_section {
    margin-bottom: 20px;
}

.banner_img {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;
    background: var(--primary-color);
    min-height: 150px;
}

.banner_img img {
    min-height: 150px;
    object-fit: cover;
    right: 0px;
    background: red;
}

.banner_content {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.banner_content h2 {
    font-weight: 600;
    color: var(--white-color);
    font-size: calc(-5px + 2vw);
    margin-bottom: 10px;
}

.banner_text {
    background: rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0px;
    display: block;
}

.banner_text h6 {
    color: var(--white-color);
    font-size: 16px;
    margin-bottom: 5px;
}

.banner_text p {
    color: var(--white-color);
    font-size: 18px;
}

.banner_text p span {
    color: var(--main_color);
    font-weight: 700;
}

.game_slider .swiper-wrapper {
    transition-timing-function: linear !important;
}

.game_slider {
    display: block;
    margin: 10px 0px;
}

.game_slier_1 {
    margin: 20px 0px 0px;
}

.games_box {}

.games_box a {
    text-decoration: none;
}

.games_box a img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;
    background: var(--primary-color);
    height: 100%;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.games_box a h2 {
    font-size: 14px;
    text-align: center;
    color: var(--white-color);
    text-decoration: none;
    margin: 5px 0px;
    filter: drop-shadow(rgba(0, 0, 0, 0.49) 2px 4px 6px);
}

.swiper-pagination-bullet-active {
    background-color: var(--main_color);
}

@media (min-width: 992px) {
    .games_box a h2 {
        font-size: calc(-5px + 1vw);
    }
}

.ads_section {
    position: relative;
    margin-bottom: 15px;
}

.ads_section .ads_image {
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;
    background: var(--primary-color);
    min-height: 270px;
    width: 100%;
}

.ads_section .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.77);
    border-radius: 10px;
    z-index: 1;
}

.ads_section .live_image {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 50%;
    top: 50%;
    max-width: 100px;
    height: auto;
    transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
    .banner_content h2 {
        font-size: 16px !important;
    }

    .banner_content p {
        font-size: 14px !important;
    }
}

.category_section {
    background: rgb(41, 45, 46);
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
}

.category_section.cat_casino {
    background-image: linear-gradient(to left, rgb(44, 80, 64), transparent 75%);
    #ff1f68:
        das;
    #ff1f68:
        das;
    #ff1f68:
        da;
    #ff1f68:
        d;
    animation: #ff1f68;
    background-image: linear-gradient(to left, var(--main_color), transparent 75%);
}

.category_section img {
    max-height: 250px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: auto;
}

.category_section h1 {
    top: 14px;
    left: 20px;
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: calc(5px + 1vw);
    font-weight: 600;
    margin-bottom: 10px;
}

.category_section p {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 20px;
    bottom: 10px;
    max-width: 60%;
    font-size: calc(-5px + 1vw);
    margin-top: 10px;
    line-height: 18px;
}

@media (max-width: 1200px) {
    .category_section p {
        font-size: calc(-1px + 1vw);
    }

    .category_section h1 {
        font-size: calc(-1px + 1vw);
    }
}

@media (max-width: 768px) {
    .category_section p {
        font-size: 12px;
    }

    .category_section h1 {
        font-size: 16px;
    }
}

.big_cat {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    height: 100%;
}

.bg_sports {
    background-image: linear-gradient(to left, rgb(88, 46, 89), transparent 75%);
}

.bg_lottery {
    background-image: linear-gradient(to left, rgb(66, 83, 48), transparent 75%);
}

.bg_racing {
    background-image: linear-gradient(to left, rgb(80, 65, 48), transparent 75%);
}

.bg_updown {
    background-image: linear-gradient(to left, rgb(45, 79, 49), transparent 75%);
}

.bg_bingo {
    background-image: linear-gradient(to left, rgb(71, 56, 111), transparent 75%);
}

.smCat_list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
}

.smCat_list .category_section img {
    max-height: 115px;
    height: auto;
}

.smCat_list .category_section h1 {
    font-size: 18px;
}

.btn_nav {
    padding: 5px 10px;
    font-size: 14px;
    border: navajowhite;
    background: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.slier_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.slier_header h5 {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.slide_nav {}

.slide_nav a {
    background: rgb(73, 73, 73);
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--white-color);
    font-size: 14px;
}

.v_categories {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.btn_category {
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 4px 10px;
    margin: 3px;
    min-width: fit-content;
    border-radius: 5px;
    background: #323738;
}

.single_slider {
    margin: 20px 0px;
}

.game_page_link {}

.game_page_link a {}

.game_page_link h1 {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: var(--white-color);
    top: 10px;
    right: 10px;
    filter: drop-shadow(rgb(0, 0, 0) 2px 4px 6px);
}

.game_page_link h1 i {
    color: var(--white-color);
    padding: 5px;
    font-size: 12px;
}

.game_page_link h2 {}

.game_page_link img {}

.game_page_link .game_link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    z-index: 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;
}

.game_page_link .game_link::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    backdrop-filter: blur(3px);
    transition: 0.4s ease-in-out;
    opacity: 0;
}

.play_btn {
    font-size: 22px;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.game_page_link:hover .play_btn,
.game_page_link:hover .game_link::before {
    opacity: 1;
    z-index: 1;
}

.home_hoster {
    display: grid;
    grid-template-columns: repeat(5, 6fr);
    gap: 6px;
    margin: 10px 0px;
}

.hoster_ {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.home_hoster_link {
    /*! display: block; */
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* min-width: 10px; */
    /* max-width: 100px; */
}

.home_hoster_link h5{
    font-size: 12px;
}
.home_hoster_link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 70px;
}

.hoster_profile_link {
    text-wrap: wrap;
    font-size: 12px;
    text-decoration: none;
    color: var(--white-color);
    line-height: 12px;
    display: none;
}

.hoster_:hover {
    transform: scale(1.1);
}

.footer_top {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff33;
}

.footer_top_right {
    margin-bottom: 15px;
}

.footer_top_right h4 {
    color: var(--white-color);
    font-size: 18px;
    margin-bottom: 10px;
}

.footer_top_right p {
    color: var(--white-color);
    font-size: 14px;
    margin-bottom: 5px;
}

.footer_top_left {}

.footer_top_left h5 {
    color: var(--white-color);
    font-size: 18px;
}

.footer_top_left h6 {
    color: var(--white-color);
    margin-bottom: 3px;
    font-size: 14px;
}

.footer_top_left .form-group textarea {
    background: transparent !important;
    margin-top: 10px;
    outline: 0 !important;
    box-shadow: none !important;
}

.footer_link_list {}

.footer_link_list h5 {
    color: var(--white-color);
    font-size: 20px;
}

.footer_link_list ul {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.footer_link_list ul li {
    margin: 5px 0px;
}

.footer_link_list ul li a {
    text-decoration: none;
    color: #ffffffa8;
    font-size: 14px;
    margin: 5px 0px;
    transition: .4s all ease-in-out;
}

footer {
    --footer-bg: #1e2121;
    background: var(--footer-bg);
    padding: 20px 10px;
}

.more_about {
    border-color: #fff;
    font-size: 14px;
    margin-top: 10px;
    color: var(--white-color);
    transition: .4s all ease-in-out;
}

.more_about i {}

.btn.more_about:hover {
    border-color: var(--main_color);
    font-size: 14px;
    margin-top: 10px;
    color: var(--main_color);
    box-shadow: 10px 5px 10px #ad49e121;
    transform: translate(-1px, -1px);
}

.form-control:focus {
    border-color: var(--main_color);
    outline: 0;
    box-shadow: none;
    background: var(--secondary-color);
    color: var(--white-color);
}

.footer_link_list ul li a:hover {
    color: var(--main_color);
}

.game_list_container {}

.game_list {
    display: grid;
    grid-template-columns: repeat(10, 12fr);
    gap: 8px;
    margin-bottom: 15px;
}

@media(max-width: 1400px) {
    .game_list {
        grid-template-columns: repeat(10, 12fr);
    }
}

@media (max-width: 1024px) {
    .game_list {
        grid-template-columns: repeat(5, 12fr);
    }
}

@media(max-width: 992px) {

    .game_page_link .game_link::before,
    .play_btn {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .game_list {
        grid-template-columns: repeat(5, 12fr);
    }
}

@media (max-width: 425px) {
    .game_list {
        grid-template-columns: repeat(4, 12fr);
    }
}

.page_title {
    color: var(--white-color);
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.title_section {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
}

.title_section a {}

.title_section a i {
    font-size: 14px;
    background: rgb(70, 79, 80);
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    margin-right: 10px;
    color: var(--white-color);
}

.ads_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    /* margin-bottom: 8px; */
}

.ads_container {
    transition: .8s all ease-in-out;
}

.ads_container img {

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 8px 0px;

    max-height: 115px;

    object-fit: cover;

    height: 100%;

    min-height: 100%;

    width: 100%;
}

@media(max-width: 1600px) {
    .home_hoster {
        grid-template-columns: repeat(4, 6fr);
    }
}

@media(max-width: 1400px) {
    .home_hoster {
        grid-template-columns: repeat(3, 6fr);
    }

    .home_hoster_link img {
        min-height: 70px;
    }
}

@media(max-width: 1200px) {
    .home_hoster {
        grid-template-columns: repeat(10, 12fr);
    }

    .home_hoster_link img {
        min-height: 70px;
    }
}

@media(max-width: 992px) {
    .ads_grid_container {
        grid-template-columns: repeat(1, 2fr);
    }

    .ads_container {
        /* display: none; */
        visibility: hidden;
        opacity: 0;
        width: 0%;
        transform: scale(0);
    }

    .ads_container:nth-child(1) {

        visibility: visible;
        opacity: 1;
        width: 100%;
        transform: scale(1);
    }

    .ads_container:nth-child(2) {

        height: 0px;
        display: none;
    }
}

.main_hosterList {
    display: grid;
    grid-template-columns: repeat(8, 12fr);
    gap: 10px;
    margin-bottom: 15px;
    margin: 15px 0px;
}

.main_hosterList .hoster_ {}

.main_hosterList .hoster_ a {
    width: 100%;
    display: block;
}

.main_hosterList .hoster_ img {
    min-height: 145px;
}

.ads_section_two {
    margin-bottom: 15px;
}

.ads_section_two img {
    width: 100%;
    border-radius: 5px;
}

.right_sidebar {
    position: sticky;
    top: 110px;
    z-index: 1;
    margin-bottom: 15px;
}



@media(max-width:1600px) {
    .main_hosterList {
        grid-template-columns: repeat(7, 12fr);
    }
}


/* game list 2 part start here  */
.game_list_2 {
    display: grid;
    grid-template-columns: repeat(8, 8fr);
    gap: 15px;
}

.game_box {
    margin-bottom: 10px;
}
.game_box h5{
    font-size: 16px;
}
.game_box a {
    /*! display: block; */
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.game_box a img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 0px 3px 0px #000c;
    margin-bottom: 5px;
}

.game_box a p {
    font-size: 14px;
    color: var(--main_color);
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 18px;
}

.game_box a h5 {
    font-size: 15px;
    color: var(--white-color);
    /* font-weight: 600; */
    letter-spacing: 1px;
}

.live_player {}

.live_player iframe {
    border-radius: 10px;
    height: 80vh;
}

/* game list 2 part end here   */
.tab_buttons {}

.tab_buttons .nav-tabs {}

.tab_buttons .nav-link {
    color: var(--white-color);
    border: none;
    padding: 5px 26px;
    border-radius: 0px;
}

.tab_buttons .nav-link.active {
    background-color: var(--main_color);
    color: var(--white-color);
    border-radius: 2px;
    color: var(--white-color) !important;
}

.tab_buttons .nav-link:hover {
    color: var(--main_color);
}

.user_profile {
    margin-bottom: 20px;
}

.user_profile h1 {
    color: var(--white-color);
    font-size: 22px;
    padding-bottom: 5px;
}

.user_profile ul {
    list-style: none;
    color: #fff;
    padding: 0;
    margin-top: 10px;
}

.user_profile ul li {
    margin-bottom: 10px;
    /* display: flex; */
    justify-content: space-between;
    align-items: end;
}

.user_profile ul li h6 {
    color: var(--main_color);
}

.main_profile {
    color: var(--white-color);
    border: 1px solid var(--main_color);
    font-size: 35px;
    padding: 15px;
    border-radius: 50%;
    margin: 20px 0px;
}

.profile_section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white-color);
}

.btn_action {
    text-decoration: none;
    color: var(--main_color);
}

.user_profile_2 {}

.user_profile_2 a {
    margin: 10px;
    display: block;
    color: var(--main_color);
}

.user_profile_2 table {}

.user_profile_2 table tr {}

.user_profile_2 table tr td {
    color: var(--white-color);
    padding: 5px 20px;
}

.user_profile_2.settings {}

.user_profile_2.settings table tr {
    margin-bottom: 10px;
}

.user_profile_2.settings table tr td {}

.user_profile_2.settings table tr td h6 {
    margin-bottom: 5px;
}

.user_profile_2.settings table tr td p {
    font-size: 14px;
    margin-bottom: 10px;
}



.winner_list {}

.winner_list li {}

.winner_list_content {

    display: flex;

    align-items: center;

    border-bottom: 1px solid #676767;

    padding: 5px 0px;
}

.image_part {
    display: flex;
    align-items: center;
}

.image_part h6 {
    font-size: 20px;
}

.image_part img {
    height: 70px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000033;
    margin: 5px 15px;
}

.name_part {}

.name_part a {
    margin: 0;
    font-size: 20px;
}

.name_part span {
    font-size: 14px;
}

.settings p {
    color: var(--white-color);
}



.custom-dropdown {
    position: relative;
    /* width: 200px; */
}

#dropdownInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.dropdown-options {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--secondary-color);
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-option img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.dropdown-option:hover {
    color: var(--main_color);
    background-color: #323738;
}

.selected-currency {
    display: flex;
    align-items: center;
    border: 1px solid var(--white-color);
    padding: 2px 10px;
    border-radius: 5px;
    width: 100%;
}

.selected-currency img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.mini_sidebar {
    background-color: var(--primary-color);
    position: sticky;
    top: 115px;
    z-index: 1;
    border-radius: 5px;
}

.balance_container {

    background: var(--primary-color);

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 5px;

    /* min-height: 240px; */
}

.balance_content {

    display: grid;

    grid-template-columns: repeat(4, 6fr);
}

.balance_box {

    margin-right: 20px;

    border-right: 1px solid var(--white-color);
}

.balance_box p {
    font-size: 14px;
    color: #dbdbdb;
}

.balance_box h1 {
    font-size: 22px;
}

.balance_box:last-child {
    border: none !important;
}

.select-item img {
    height: 10px;
}

.custom-dropdown {}

.custom-dropdown input {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    background: transparent;
    width: 100%;
}

.deposit_sec select {
    background-color: var(--secondary-color);
    color: #ffffff;
    border-color: #777777;
}

.address_box {
    display: flex;
    padding: 10px 0px;
    width: 100%;
}

.address_box img {

    height: 150px;

    background: var(--white-color);

    margin: 10px 0px;

    margin-right: 20px;

    margin-bottom: 0;
}

.address_box input,
select,
input,
.deposit_sec input {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

/* hide arrow of input  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.short_amt {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 5px;
    margin: 10px 0px;
}

.btn_amt {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background: #323738;
    color: var(--white-color);
    padding: 5px;
}

.dropdown_filters {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
}

.transection_table {
    margin-top: 20px;
}

.transection_table thead tr th {
    padding: 10px;
    /* border: 1px solid; */
    border-radius: 5px;
}

.transection_table thead tr {
    background: var(--secondary-color);
}

.transection_table thead {}

.transection_table tbody tr td {
    padding: 10px;
    /* border: 1px solid; */
    width: 100%;
    text-wrap: nowrap;
    border-bottom: 1px solid #676767;
    color: #c7c7c7;
}

.transection_table tbody tr {}

.transection_table tbody {}

.security_boxes {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 10px;
}

.security_box {
    padding: 20px;
    box-shadow: 0 0 20px #00000038;
    border: 1px solid #7f7f7f;
    text-align: center;
    border-radius: 5px;
}

.security_box i {
    font-size: 30px;
    margin-bottom: 15px;
}

.security_box h6 {
    font-size: 20px;
    color: var(--main_color);
}

.security_box h6 i {
    font-size: 16px;
    margin: 0px 5px;
}

.security_box h6 i.fa-circle-exclamation {
    color: rgb(206, 134, 0);
}

.security_box h6 i.fa-circle-check {
    color: rgb(6, 185, 6);
}

.security_box p {}

@media(max-width: 1400px) {
    .game_list_2 {
        display: grid;
        grid-template-columns: repeat(6, 8fr);
        gap: 15px;
    }
}

.providers_container_two {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 5px;
}

.providers_container_two a {
    display: block;
    background: #323738;
    border-radius: 5px;
    padding: 5px;
}

.providers_container_two a img {}


/* login section start here   */
.login_section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    width: 400px;
    background: var(--primary-color);
    padding: 40px 30px;
    border-radius: 10px;
}

.form-group {}

.input_group {}

.input_group_pass {
    position: relative;
}

.input_group_pass i {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.login_form input {
    background-color: var(--secondary-color);
    color: #bbbbbb;
}

.login_logo {}

.btn_main {
    color: var(--white-color);
    background: var(--main_color) !important;
}

.btn_main:hover {
    color: var(--white-color);
    background: var(--main_color_hover) !important;
}

.login_form a {
    color: var(--main_color);
}

.login_form p a {

    margin-left: 5px;
}

.form-group {}

.form-group label {
    margin-bottom: 5px;
}

.form-control::placeholder {
    color: #bbbbbb;
}

.form-control {
    background-color: var(--secondary-color) !important;
    color: white;
}

/* login section end here   */

.dropdown-option p{
    font-size: 14px;
}