*{
    margin: 0px;
    padding: 0px;
}
:-webkit-scrollbar {
    width: 0px;
    height: 10px;
    }
body{
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
body::-webkit-scrollbar{
    display: none;
}
.footer_space{
    height: 65px;
}

/*====================== navbar start=========================  */
.nav_bar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: #b4b4b41a;
}
.nav_profile{
    display: flex;
    align-items: center;
    height: 50px;
    /* background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61); */
    padding: 0px 10px;
}
.nav_profile  a{        
    justify-content: center;        
    align-items: center;        
    background: -moz-linear-gradient(top, rgba(246,178,219,1) 0%, rgba(251,88,155,1) 99%);        
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b2db', endColorstr='#fb589b',GradientType=0 );
    background: transparent;
} 
.nav_profile .dropstart ul{
    margin-top: 20px !important;
    padding: 10px !important;
    width: 185px;
}
.nav_profile .dropstart ul li{
    list-style: none;
    padding: 3px;
    margin: 2px;
    box-shadow: 1px 1px 6px 2px #b4b3b34f;
    transition: .4s all ease-in-out;
}
.nav_profile .dropstart ul li:hover{        
    transform: scale(1.1);
}
.nav_profile .dropstart ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav_profile .dropstart ul li a i{
    font-size: 14px;
    margin-right: 9px;
}
.nav_bar.scrolled {
    /* background-color: #fff !important; */
    transition: background-color 200ms linear;
    box-shadow: 1px 0px 2px #00000030;
    background-image: linear-gradient(45deg, #7665f3,#cfcafb, #c4bdfa);
}
.nav_bars.scrolled {
    display: block;
    font-size: 14px;
}
.nav_bars{
    /* display: none; */
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
.nav_bars h1{
    
}
.grid_dots{

/* margin-top: 10px; */
}
.grid_dots .dots{
    display: flex;
}
.dots span{
    display: block;
    height: 5px;
    width: 5px;
    background-color: #602be1;
    border-radius: 50%;
    margin: 1px;
    transition: .4s all ease-in-out;
}
.nav_profile  a:hover .dots span{
    background-color: #000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #d9cbf9; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999999;
    background-image: linear-gradient(45deg, #a097e5,#d6d0ff, #c4bdfae3);
    scrollbar-width: none;
}
.sidenav::-webkit-scrollbar{
  display: none;
}
  .sidenav a {
    padding: 4px 8px 4px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #9681EB;
    display: block;
    transition: 0.3s;
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfab3);
    margin: 5px 0px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
    transition: .4s all ease-in-out;
    filter: drop-shadow(2px 4px 6px #fff);
  }
  .sidenav a img{    
    width: 30px;        
    margin-bottom: 8px;        
    margin-right: 5px;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-image: none;
    box-shadow: none !important;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* ========================== navbar end here ==================== */


/* ================== footer start here ================================  */
footer{
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: #ffffff;
    z-index: 99;
    box-shadow: 1px 0px 3px #00000024;
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
footer i{
    font-size: 20px;
    margin-top: 14px;
}
footer a {
    text-decoration: none;
    color: #0000008a;
    font-size: 12px;
}
footer a img{
    width: 25px;
    margin-top: 10px;
    filter: drop-shadow(5px 5px 2px #0000004d);
}
.desktop_view{
    display: block;    
}
.mobile_view{
    display: none;
}
@media (max-width: 1200px){
    .desktop_view{
        display: none;    
    }
    .mobile_view{
        display: block;
    }
}
/* =======================footer end herere =============== */


/* bannar part start here  */
.bannar{

height: 200px;
}
.bannar img{
    position: relative;
    height: 100%;
}
.owl-bannar .owl-dots{
    position: absolute;
    right: 5%;
    bottom: 5%;
    display: flex;
}
.owl-bannar .owl-dots .owl-dot span{
    display: block;
    height: 10px;
    width: 10px;
    background-color: #fff;
    margin: 2px;
    border-radius: 50%;
    transition: .4s all ease-in-out;
}
.owl-bannar .owl-dots .active span{
    height: 10px;
    width: 10px;
    background: rgb(250,143,169); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(250,143,169,1) 0%, rgba(254,60,86,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(250,143,169,1) 0%,rgba(254,60,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(250,143,169,1) 0%,rgba(254,60,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8fa9', endColorstr='#fe3c56',GradientType=0 ); /* IE6-9 */
}
@media(max-width: 576px){
    .bannar {
        height: 140px;
    }
}
/* bannar part end here  */

/* affiliate part start here  */
.rand_card{

margin: 5px;

padding: 10px;

border-radius: 10px;

background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);

box-shadow: 2px 3px 20px #bfb8f9, -2px -3px 5px #bfb8f9;

position: relative;

overflow: hidden;
}
.rand_card h1{

font-size: 16px;

margin: 0px;

color: #6528F7;

cursor: context-menu;

margin-bottom: 15px;
}
.rand_card h1 span{
    font-size: 13px;
}
.rand_card h2 i{
    border: none !important;
    padding: 0 !important;
    cursor: unset;
    font-size: 14px;
    color: #6528f7;
}
.rand_card img{

/* width: 90px; */

margin-bottom: 30px;
}
.rand_card h2{

font-size: 16px;

margin: 0;

color: #775cc1;

/* margin: 5px 0px; */

/* margin-top: 5px; */

/* margin-left: 5px; */
}
.progress{

background: #2d225c2b !important;

height: 8px;

margin-top: 10px;

margin-bottom: 5px;
}
.progress-bar{
    background: #a383f0e0;
}
.rand_card ul li img{

border-radius: 50%;

height: 30px;

width: 30px;
}
.rand_card ul li{

margin-right: -15px;

position: relative;
}
.rand_card ul{
    
padding: 0;
    
list-style: none;
    
display: flex;
    
justify-content: end;
    
margin: 0px;
    
margin-top: 10px;
}

.rand_card ul li span{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffffa8;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    color: #4a1ac8;
}
.rand_card i{
    
color: #ffffff;
    
border: 1px solid #fff;
    
cursor: pointer;
    
font-size: 8px;
    
padding: 2px 5px;
    
height: 15px;
    
width: 15px;
    
border-radius: 10px;
    
margin-right: 5px;
    
margin-top: 2px;
}
.rand_card canvas{
    display: block;
    height: 165px !important;
    width: 350px !important;
    margin-left: auto;
}
.affiliate_item .col-xl-3 ,.affiliate_item .col-lg-6 ,.affiliate_item .col-md-6 .affiliate_item .col-sm-6 {
    padding: 0px 3px;
}


/* table part start here  */
/* transection history part start here          */
.trasnsection_history{

/* border: 1px solid #000; */

border-radius: 10px;

padding: 10px;

/* box-shadow: 5px 5px 10px #bebebe75, -5px -5px 10px #e3d5fb54; */

/* background: #e3d5fb; */

/* margin-bottom: 20px; */

background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);

box-shadow: 2px 3px 4px #bfb8f9, -2px -3px 5px #bfb8f9;
}
    .trasnsection_history h1{
    
font-size: 18px;
    
margin: 0;
}
.trasnsection_history i{

color: #fff;

filter: drop-shadow(2px 4px 6px #c5a8f0);
}
.trasnsection_history table{

padding: 5px;

border-top: 1px solid #ffffff7a;

background: #e3d5fb;

/* box-shadow: 2px 3px 5px #4f4c4c9e, -2px 0px 5px #c3c3c34f; */

border-bottom-left-radius: 10px;

border-bottom-right-radius: 10px;

margin-top: 10px;

width: 100%;

background: transparent;
}
.trasnsection_history table thead tr th{

background: transparent;
}
.trasnsection_history table thead tr{

}
.trasnsection_history table thead{
}
.trasnsection_history table tbody{
    
}
.trasnsection_history table tbody tr{}
.trasnsection_history table tbody tr td{

background: transparent;

padding: 10px 5px;

/* text-transform: capitalize; */

font-weight: 400;

color: #000000ab;

margin-left: 5px;
}
.history_title{
    
display: flex;
    
justify-content: space-between;
    
border-top-left-radius: 10px;
    
border-top-right-radius: 10px;
    
padding: 10px 10px;
    
align-items: center;
    
border: none;
}
.history_title{
    
}
.history_title a{
    margin: 0;
    text-decoration: none;
    margin-left: 20px;
    border: 1px solid #ffffffab;
    border-radius: 5px;
    padding: 0px 5px;
    color: #ffffffab;
    transition: .4s all ease-in-out;
}
.history_title a:hover{
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 2px 3px 24px #64616142;
}
.tbl_col .col-xl-6 ,.tbl_col .col-lg-6 ,.tbl_col .col-md-6 ,.tbl_col .col-sm-6{
    padding: 5px 8px;
}
strong{
    color: #fff200;
    font-size: 16px;
    filter: drop-shadow(2px 4px 6px #00000042);
}
/* table part end here  */

/* ribbon part start here  */
.ribbon{

position: absolute;

background: #8c80e6;

width: 100px;

text-align: center;

transform: rotate(45deg);

left: -36px;

bottom: -2px;

overflow: hidden;

box-shadow: 2px 3px 5px #49474799;

padding: 5px 0px;
}
.ribbon i{

border: none;

transform: rotate(310deg);

color: #fff;

cursor: context-menu;

width: 30px;

font-size: 22px;
}
/* ribon part end here  */
.custom-tooltip {
    --bs-tooltip-bg: #4a1ac8;
  }
.chart_massage{
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    width: 35%;
    height: 80%;
    /* border-radius: 10px; */
    left: 20%;
    transform: translate(-20%, -50%);
}
.chart_massage ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    width: 100% !important;
    display: flex;
}
.chart_massage ul li{
    margin: 0;
    margin: 8px 0px;
    width: 100%;
}
.chart_massage ul{
    display: block;
    /* background: #fff; */
    list-style: none;
    padding: 0;
    position: absolute;
}
.t_link{
    margin-left: 78%;
    margin-top: 5px;
    transform: translate(-78%, 0px);
    text-align: center;
    font-weight: 600;
}
.level_one{

background: #8c80e6 !important;

padding: 0px 3px;
}
.level_two{

background: #6528f7 !important;

padding: 0px 3px;
}
.level_three{

background: #a076f9 !important;

padding: 0px 3px;
}

.level_four{

background: #d7bbf5;

padding: 0px 3px;
}

.level_five{
    
background: #75c2f6;
    
padding: 0px 3px;
}

/* ======================================== table page start here ============================= */
.btn_filter{
    border: none;
    padding: 9px;
    width: 100%;
    font-size: 14px;
    /* box-shadow: inset 6px 6px 10px #dfd2f7, inset -6px -6px 10px #e3d5fb4f !important; */
    box-shadow: 2px 3px 5px 3px #d2d4f2;
    background: #ffffff63;
    text-decoration: none;
    color: #00000099 !important;
    border-radius: 50px;
    font-weight: 600;
}
.btn_find{
    border: none;
    padding: 9px;
    width: 100%;
    font-size: 14px;
    /* box-shadow: inset 6px 6px 10px #dfd2f7, inset -6px -6px 10px #e3d5fb4f !important; */
    box-shadow: 2px 3px 5px 3px #d2d4f2;
    background: #ffffff63;
    text-decoration: none;
    color: #00000099 !important;
    border-radius: 50px;
    font-weight: 600;
}
.active,.btn_filter:focus,.btn_find:focus{
    background-color: #fff;
    color: #000;
}
.btn_filter:active,.btn_find:active{
    box-shadow: 2px 2px 3px rgba(55, 84, 170, .15), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
}
.filter input{
    border-radius: 0;
    margin: 5px 0px;
    box-shadow: 2px 2px 3px rgba(55, 84, 170, .15), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    margin: 0;
    border-radius: 50px;
    margin-left: 5px;
}
.filter input::placeholder{
    color: #00000093;
}
.search{
    position: relative;
}
.search i{
    position: absolute;
    left: 10px;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #ae8be9;
    font-size: 12px;
}
.search input{
    border-radius: 50px;
    padding: 7px 25px;
    box-shadow: 5px 5px 4px #c7c7c7, -5px -5px 10px #e3d5fb21;
}
.tab_btns{
    
margin: 5px 0px;
    
background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
    
box-shadow: 2px 3px 4px #bfb8f9, -2px -3px 5px #bfb8f9;
    
padding: 5px 10px;
}
.tab_btns .nav-pills .nav-link{
    background: #ffffff63;
    margin: 0px 5px;
    border-radius: 0px;
    color: #00000085;
    transition: .4s all ease-in-out;
    border-radius: 50px;
    box-shadow: 4px 4px 14px 3px #bfbdd6, -5px -5px 7px #988df142;
}
.tab_btns .nav-pills .nav-link:hover{    
    color: #fff;    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #988df1 !important;
    border-radius: 0;
    border-radius: 50px;
    box-shadow: 4px 4px 9px 3px #bfbdd6, -5px -5px 7px #988df142;
    border-radius: 50px;
}
.tab_btns .nav-pills .nav-items{

}

.tab_btns .nav-pills{    
    margin: 0 !important;
}
.filter .col-3{
    padding: 0px 3px;
}
.filter h5{
    
font-size: 16px;
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
height: 100%;
    
margin: 0;
    
margin-left: 5px;
}
.filter .col-5,.filter .col-6,.filter .col-2{
    padding: 0px 8px;
}
/* table page end here  */
.history_title p{

}
.tab_btns h4{
    font-size: 22px;
    margin: 0;
    color: #000000c2;
}
@media(max-width: 1200px){
    .t_link {
        margin-left: 75%;
    }
    .btn_find{

    }
}
@media(max-width: 1024px){
    .rand_card canvas {
        display: block;
        height: 145px !important;
        width: 300px !important;
    }
    .chart_massage ul {
        margin: 0;
    }
}
@media(max-width: 992px){

    .chart_massage {
        left: 10%;
    }
    .rand_card canvas {
        height: 115px !important;
        width: 220px !important;
    }
    .t_link {
        font-size: 14px;
    }
    .chart_massage ul li {
        margin: 0;
    }
    .btn_filter {
        font-size: 10px;
        margin-bottom: 10px;
    }
    
}
@media(max-width: 768px){
    .rand_card canvas {
        height: 90px !important;
        width: 180px !important;
    }
    .search input::placeholder,.search i,.filter input::placeholder {
        font-size: 10px;
    }
    .filter input {
        font-size: 8px;
    }
    .btn_filter {
        margin-bottom: 10px;
    }
    .btn_find{
        padding: 5px 10px;
        font-size: 8px;
        padding: 5px;
    }
}
@media(max-width: 622px){
    .chart_massage ul li a {
        font-size: 12px;
    }
    .chart_massage ul li {
    margin: 0;
    }
}

@media(max-width:576px){
    .rand_card canvas {
        height: 145px !important;
        width: 300px !important;
    }
    .chart_massage ul li {
        margin: 3px 0px;
    }
    .t_link {
        font-size: 13px;
        width: 100%;
        text-align: end;
        margin-left: 65%;
    }
    .chart_massage ul li {
        margin: 0;
    }
    .chart_massage ul li a {
        font-size: 14px;
    }
    trasnsection_history table thead tr th {
        font-size: 8px;
    }
    .trasnsection_history table tbody tr td {
        font-size: 10px;
    }
    
    .trasnsection_history h1 {
        font-size: 16px;
        font-weight: 600;
    }
    .trasnsection_history i {
        font-size: 14px;
    }
    .tab_btns .nav-pills .nav-link {
        background: #ffffff63;
        margin: 0px 5px;
        border-radius: 0px;
        color: #00000085;
        transition: .4s all ease-in-out;
        font-size: 12px;
        margin: 5px 3px;
        padding: 8px 8px;
        border-radius: 50px;
    }
    .history_title p {
        margin: 0;
        font-size: 12px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
    }
    .filter h5 {
        font-size: 12px;
    }
}
@media(max-width: 426px){
    .rand_card h1 {
        font-size: 16px;
    }
    .rand_card img {
        /* width: 45px; */
    }
    .rand_card h2 {
        font-size: 12px;
    }
    .trasnsection_history h1 {
        font-size: 14px;
    }
    .trasnsection_history table thead tr th {
        font-size: 12px;
    }
    .trasnsection_history table tbody tr td {
        font-size: 10px;
    }
    .history_title a {
        font-size: 12px;
    }
    .rand_card canvas {
        height: 115px !important;
        width: 220px !important
    }
    
}

@media(max-width: 375px){
    .rand_card img {
        /* width: 30px; */
    }
    .rand_card i {
        padding: 3px 7px;
        margin-top: 4px;
    }
    .rand_card ul li img {
        height: 25px;
        width: 28px;
    }
    .rand_card canvas {
        height: 90px !important;
        width: 180px !important;
    }
}
@media(max-width: 321px){
    .rand_card canvas{
        height: 120px !important;
        width: 250px !important;
    }
    .rand_card canvas{
        height: 90px !important;
        width: 180px !important;
    }
    .trasnsection_history table thead tr th {
        font-size: 10px;
    }
}
@media(max-width: 280px){
    .chart_massage ul li a {
        font-size: 12px;
    }
    .rand_card canvas {
        height: 80px !important;
        width: 158px !important;
    }
}
@media(max-width:280px){
    .trasnsection_history table tbody tr td {
        padding: 10px 2px;
        font-size: 9px;
    }
}