*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
/*====================== navbar start=========================  */
.nav_bar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: #b4b4b41a;
    z-index: -1;
}
.nav_profile{
    display: flex;
    align-items: center;
    height: 50px;
    /* background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61); */
    padding: 0px 10px;
}
.nav_profile  a{        
    justify-content: center;        
    align-items: center;        
    background: -moz-linear-gradient(top, rgba(246,178,219,1) 0%, rgba(251,88,155,1) 99%);        
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b2db', endColorstr='#fb589b',GradientType=0 );
    background: transparent;
} 
.nav_profile .dropstart ul{
    margin-top: 20px !important;
    padding: 10px !important;
    width: 185px;
}
.nav_profile .dropstart ul li{
    list-style: none;
    padding: 3px;
    margin: 2px;
    box-shadow: 1px 1px 6px 2px #b4b3b34f;
    transition: .4s all ease-in-out;
}
.nav_profile .dropstart ul li:hover{        
    transform: scale(1.1);
}
.nav_profile .dropstart ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav_profile .dropstart ul li a i{
    font-size: 14px;
    margin-right: 9px;
}
.nav_bar.scrolled {
    /* background-color: #fff !important; */
    transition: background-color 200ms linear;
    box-shadow: 1px 0px 2px #00000030;
    background-image: linear-gradient(45deg, #7665f3,#cfcafb, #c4bdfa);
}
.nav_bars.scrolled {
    display: block;
    font-size: 14px;
}
.nav_bars{
    /* display: none; */
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
.nav_bars h1{
    
}
.grid_dots{

/* margin-top: 10px; */
}
.grid_dots .dots{
    display: flex;
}
.dots span{
    display: block;
    height: 5px;
    width: 5px;
    background-color: #602be1;
    border-radius: 50%;
    margin: 1px;
    transition: .4s all ease-in-out;
}
.nav_profile  a:hover .dots span{
    background-color: #000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #d9cbf9; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999999;
    background-image: linear-gradient(45deg, #a097e5,#d6d0ff, #c4bdfae3);
    scrollbar-width: none;
  }
  .sidenav::-webkit-scrollbar{
    display: none;
  }
  .sidenav a {
    padding: 4px 8px 4px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #9681EB;
    display: block;
    transition: 0.3s;
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfab3);
    margin: 5px 0px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
    transition: .4s all ease-in-out;
    filter: drop-shadow(2px 4px 6px #fff);
  }
  .sidenav a img{    
    width: 30px;        
    margin-bottom: 8px;        
    margin-right: 5px;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-image: none;
    box-shadow: none !important;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* ========================== navbar end here ==================== */


/* ================== footer start here ================================  */
footer{
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: #ffffff;
    z-index: 99;
    box-shadow: 1px 0px 3px #00000024;
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
footer i{
    font-size: 20px;
    margin-top: 14px;
}
footer a {
    text-decoration: none;
    color: #0000008a;
    font-size: 12px;
}
footer a img{
    width: 25px;
    margin-top: 10px;
    filter: drop-shadow(5px 5px 2px #0000004d);
}
.footer_space{
    height: 65px;
}
/* =======================footer end herere =============== */
.modal-backdrop.show {
    display: none;
}
/* bannar part start here  */
.desktop_view{
    display: block;    
}
.mobile_view{
    display: none ;
}

@media(max-width: 1200px){
    .desktop_view{
        display: none;    
    }
    .mobile_view{
        display: block ;
    }
}
.dimond_bannar{
    padding-top: 30px;
    position: relative;
    background: rgb(239,229,253);
    background: -moz-linear-gradient(top, rgba(239,229,253,1) 0%, rgba(195,169,243,1) 100%);
    background: -webkit-linear-gradient(top, rgba(239,229,253,1) 0%,rgba(195,169,243,1) 100%);
    background: linear-gradient(to bottom, rgba(239,229,253,1) 0%,rgba(195,169,243,1) 100%);
    z-index: 0;
    overflow: hidden;
}
.dimond_bannar::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 39% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 90%;
    background-image: linear-gradient(to right, #a095f76b, #fff8f85c);
    height: 50%;
    z-index: -1;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
}
.dimond_bannar a i{

}
.dimond_bannar a{

}
.dimond_balance{

min-height: 30vh;
}
.dimond_balance p img{
    width: 40px;
}
.dimond_balance p {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    border: 1px solid #bea5f5d4;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
}
.circle_one{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #c5b4f64f;
    left: 10%;
    top: 0px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
}
.circle_two{
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #baa7f540;
    right: 20%;
    top: 10%;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
}
.round_one{
    position: absolute;
    height: 400px;
    width: 400px;
    /* background-color: #baa7f540; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 40px solid #baa7f540;
    z-index: -1;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
}
.account_balance{

margin-top: 30px;

border: 1px solid #bea5f5d4;

width: fit-content;

padding: 20px;

margin-left: 30px;

border-radius: 20px;

box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;

margin-bottom: 20px !important;
}
.account_balance h3{

color: #775cc1;

font-family: 'Noto Serif', serif;

font-weight: 400;

font-size: 22px;
}
.account_balance h3 i{

color: #fff;

margin-right: 20px;
}
.account_balance h4{
    
font-size: 38px;
    
font-family: 'Noto Serif', serif;
    
color: #5b50b3;
    
font-weight: 600;
    
margin: 0;
}
/* bannar part end here  */

/* list part start here  */
.d_pricelist{

}
.d_pricelist ul li p img {

width: 30px;

margin-right: 10px;
}
.d_pricelist ul li p span{

font-size: 18px;

color: #fff;
}
.d_pricelist ul li p{
    
font-size: 30px;
    
font-weight: 600;
    
margin-left: 10px;
    
font-family: 'Noto Serif', serif;
}
.d_pricelist ul li button{

background: #aba1f7;

border: none;

padding: 10px 20px;

border-radius: 50px;

box-shadow: 4px 4px 14px #d2c7ff, 3px -6px 22px #d2c7ff, -8px -4px 22px #d2c7ff, -7px 5px 20px #d2c7ff;

background: #a095f7;

color: #fff;

transition: .4s all ease-in-out;

font-family: 'Noto Serif', serif;
}
.d_pricelist ul li button:hover{
    box-shadow: 4px 4px 7px #d2c7ff, 1px -3px 11px #d2c7ff, -4px -2px 11px #d2c7ff, -4px 3px 10px #d2c7ff!important;
    font-family: 'Noto Serif', serif;
}
.d_pricelist ul li {

display: flex;

justify-content: space-between;

align-items: center;

position: relative;

background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);

border-radius: 10px;

padding: 20px;

overflow: hidden;

margin: 10px 0px;

box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
}
.d_pricelist ul{

list-style: none;

padding: 0;

/* height: 100vh; */

padding: 20px;

border-radius: 20px;

margin-top: 20px;

z-index: 2;

position: relative;

background: rgb(236,226,251);

background: -moz-linear-gradient(left, rgba(236,226,251,1) 0%, rgba(255,255,255,1) 100%);

background: -webkit-linear-gradient(left, rgba(236,226,251,1) 0%,rgba(255,255,255,1) 100%);

background: linear-gradient(to right, rgba(236,226,251,1) 0%,rgba(255,255,255,1) 100%);

box-shadow: 7px 7px 15px rgb(108 129 193 / 34%), -7px -7px 20px rgb(211 206 252 / 26%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0) !important;
}
.d_ribbon{

position: absolute;

bottom: 0px;

left: 0px;
}
.d_ribbon h5{
    
background: gold;
    
margin: 0;
    
padding: 5px 10px;
    
border-top-right-radius: 25px;
    
font-family: 'Playfair Display', serif;
    
text-transform: capitalize;
}
.balance_img{
    
width: 25px;
}
/* list part end here  */

/* modal part start here  */
.buy_modal{

}
.btn_confirm{
    text-decoration: none;
    font-size: 14px;
    background: transparent !important;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 20px !important;
    background: #aea2f7 !important;
    color: #fff;
    border: none;
    box-shadow: 2px 3px 10px 3px #6a666633 !important;
    width: 100%;
}
.btn_deposite{
    text-decoration: none;
    font-size: 14px;
    background: transparent !important;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 8px 20px !important;
    background: #aea2f7 !important;
    color: #fff;
    border: none;
    box-shadow: 2px 3px 10px 3px #6a666633 !important;
}
.buy_modal .modal-body{

}
.buy_modal .modal-body h4{

font-size: 16px;

text-transform: capitalize;

margin: 0px;
}
.buy_modal .modal-body h4 img{

width: 14px;

margin: 0;
}
.buy_modal .modal-body p img{

width: 18px;

margin: 10px 2px;
}
.buy_modal .modal-body p{

font-size: 20px;

margin: 0;

font-weight: 600;

display: flex;

align-items: center;

justify-content: center;

text-align: center;
}
.buy_modal .modal-body h3{

font-size: 14px;

margin-bottom: 0px;

color: #000000bd;
}
.buy_modal .modal-body ul li p img{

}
.buy_modal .modal-body ul li p span{

color: #ffd700;

font-weight: 400;
}
.buy_modal .modal-body ul li p{

}
.buy_modal .modal-body ul li{

padding: 0px;

background: transparent;

border: none;

box-shadow: 0px 0px 0px #000 !important;

margin: 5px 0px;

display: unset;

position: unset;

border-radius: 0;

list-style: circle !important;
}
.buy_modal .modal-body ul{
    
background: transparent;
    
box-shadow: none !important;
    
padding: 0px;
    
margin: 0px;
    
list-style: circle !important;
}
/* modal part end here  */






@media(max-width: 426px){
    .account_balance {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        height: 85%;
    }
    .account_balance h3 {
        font-size: 10px;
        margin: 0px;
    }
    .account_balance h4 {
        font-size: 18px;
    }
    .d_pricelist ul li p {
        font-size: 14px;
        margin: 0;
    }
    .d_pricelist ul li button {
        padding: 5px 10px;
        font-size: 10px;
    }
    .d_ribbon h5 {
        font-size: 12px;
    }
    .d_pricelist ul li p img {
        width: 25px;
    }
    .d_pricelist ul li p span {
        font-size: 12px;
    }
    .balance_img {
        width: 20px;
        margin: 2px !important;
    }
    .account_balance h3 i {
        margin-right: 5px;
    }
    .dimond_bannar a {
        font-size: 10px;
    }
    .d_pricelist ul {
        padding: 10px;
    }
    
}
.footer_space{
    height: 65px;
}