
@media(max-width: 768px){
    .rank_bannar {
        min-height: 45vh;
    }
    .rank_list {
        height: 48vh;
    }
}
@media(max-width: 394px){
    .rank_bannar {
        min-height: 30vh;
    }
    .rank_list {
        height: 60vh;
    }
}
/* @media(max-width:376px){
    .rank_bannar {
        min-height: 40vh;
    }
    .rank_list {
        height: 52vh;
    }
   
} */
@media screen and (max-width: 280px){
    .profile h1 {
        font-size: 8px;
    }
    .profile p {
        font-size: 7px;
    }
    .option img {
        width: 16px;
    }
    .option {
        height: 32px;
        width: 32px;
    }
    .option h3{
        font-size: 6px;
        margin-top: -2px;
    }
    .cat h4 {
        font-size: 8px;        
        margin-top: 2px;
    }
    .cat img {
        width: 25px;
    }
    .cat img {
        width: 25px;
    }
}
.footer_space{
    height: 65px;
}
