/*====================== navbar start=========================  */
.nav_bar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: #b4b4b41a;
}
.nav_profile{
    display: flex;
    align-items: center;
    height: 50px;
    /* background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61); */
    padding: 0px 10px;
}
.nav_profile  a{        
    justify-content: center;        
    align-items: center;        
    background: -moz-linear-gradient(top, rgba(246,178,219,1) 0%, rgba(251,88,155,1) 99%);        
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b2db', endColorstr='#fb589b',GradientType=0 );
    background: transparent;
} 
.nav_profile .dropstart ul{
    margin-top: 20px !important;
    padding: 10px !important;
    width: 185px;
}
.nav_profile .dropstart ul li{
    list-style: none;
    padding: 3px;
    margin: 2px;
    box-shadow: 1px 1px 6px 2px #b4b3b34f;
    transition: .4s all ease-in-out;
}
.nav_profile .dropstart ul li:hover{        
    transform: scale(1.1);
}
.nav_profile .dropstart ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav_profile .dropstart ul li a i{
    font-size: 14px;
    margin-right: 9px;
}
.nav_bar.scrolled {
    /* background-color: #fff !important; */
    transition: background-color 200ms linear;
    box-shadow: 1px 0px 2px #00000030;
    background-image: linear-gradient(45deg, #7665f3,#cfcafb, #c4bdfa);
}
.nav_bars.scrolled {
    display: block;
    font-size: 14px;
}
.nav_bars{
    /* display: none; */
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
.nav_bars h1{
    
}
.grid_dots{

/* margin-top: 10px; */
}
.grid_dots .dots{
    display: flex;
}
.dots span{
    display: block;
    height: 5px;
    width: 5px;
    background-color: #602be1;
    border-radius: 50%;
    margin: 1px;
    transition: .4s all ease-in-out;
}
.nav_profile  a:hover .dots span{
    background-color: #000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #d9cbf9; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999999;
    background-image: linear-gradient(45deg, #a097e5,#d6d0ff, #c4bdfae3);
    scrollbar-width: none;
    }
    .sidenav::-webkit-scrollbar{
    display: none;
    }
  .sidenav a {
    padding: 4px 8px 4px 10px;
    text-decoration: none;
    font-size: 14px !important;
    color: #9681EB;
    display: block;
    transition: 0.3s;
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfab3);
    margin: 5px 0px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
    transition: .4s all ease-in-out;
    filter: drop-shadow(2px 4px 6px #fff);
  }
  .sidenav a img{    
    width: 25px !important;        
    margin-bottom: 8px;        
    margin-right: 5px;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-image: none;
    box-shadow: none !important;
  }
  .profile_img img{
    height: 30px !important;
    width: 30px !important;
    filter: drop-shadow(1px 1px #ededab);
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* ========================== navbar end here ==================== */



@media(max-width: 426px){
    .owl-bannar .owl-dots{
        right: 25px !important;
    }
    .owl-bannar .owl-dots .owl-dot span{
        height: 5px !important;
        width: 5px !important;
    }
}

/* Popup ============================== */
.login_popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    background: #000000db;
    z-index: 10;
    display: none;
}   
.login_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
.user_icon{

height: 100px;

width: 100px;

margin: auto;

display: flex;

justify-content: center;

align-items: center;

background: #7b6ee4;

border-radius: 50px;

box-shadow: 2px 3px 5px 3px #d2d2d2fc;

box-shadow: 5px 5px 10px #f5f5f5,
             -5px -5px 10px #ffffff;

color: #fff;
}
.user_icon i{

font-size: 50px;
}
.login_content form{

}
.login_content form label{

font-size: 14px;

margin-bottom: 5px;
}
.login_content form input{

border-radius: 20px;

box-shadow: 2px 2px 3px rgba(55, 84, 170, .15), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;

padding: 5px 20px;

padding-left: 35px;
}
.login_content form input:focus{

}
.show_pass{

position: absolute;

right: 10px;

top: 80%;

transform: translateY(-80%);

color: #000;
}
#save_pass{

margin-right: 5px;

margin-top: 10px;
}
.btn_login{

border: none;

background: transparent;

width: 100%;

background: #7b6ee4;

color: #fff;

margin-top: 20px;

padding: 10px 20px;

border-radius: 30px;
}
.input_group .fa-lock, .input_group  .fa-user{

position: absolute;

left: 5px;

top: 90%;

transform: translateY(-90%);

color: #fff;

background: #7b6ee4;

padding: 6px;

border-radius: 50px;

font-size: 14px;
}
.input_group{
    
position: relative;
    
margin-top: 12px;
}
.login_content a{
    text-decoration: none;
    font-size: 12px;
    color: #000;
}
.btn_close{
    background-color: transparent;
    border: none;
    color: #000;
}
.btn_close i{
    color: #000;
}
.btn_close:hover i{
    color: #8c85d8;
}
.share_modal{
    position: absolute;
    width: 310px;
    height: 100%;
    /* background: #000000c2; */
    right: 0;
    bottom: 0;
    min-height: 100vh;
    display: none;
}
.gift_modal{
    position: absolute;
    width: 300px;
    height: 50%;
    /* background: #000000c2; */
    right: 0;
    bottom: 0px;
    min-height: 100vh;
    display: none;
}
.main_share{
    position: absolute;
    left: 10%;
    bottom: 8%;
    transform: translate(-50%, -50%);
    background: #fff;
    min-width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000007d;
    z-index: 99;
}

.gift_modal_main{
    position: relative;
    left: 10%;
    bottom: 10%;
    transform: translate(-50%, 10px);
    background: #fff;
    min-width: 320px;
    /* height: 200px; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000007d;
}
.btn_sclose{
    color: #000;
    border: navajowhite;
    background: transparent;
}
.comment_section {
    height: 70vh;
    overflow: auto;
}
.video-wrapper .modal-content{
    padding: 10px;
}
.comm_modal{
    position: absolute;
    right: 0%;
    bottom: -150px;
    /* transform: translateX(-10%); */
    width: 375px;
    background: #ededed;
    padding: 10px;
    border-radius: 10px;
    /* height: 70vh; */
    z-index: 9999;
}
.mobile_comment{
    position: relative;
}
.mobile_comment{
    display: none;
}
@media(max-width: 1200px){
    .gift_modal_main{
        
    }
    .comm_modal{
        
    }
}
@media(max-width: 992px){
    .gift_modal_main{
        
    }
    .comm_modal{
        
    }
}
@media(max-width: 768px){
    .gift_modal_main{
        
    }
    .comm_modal{
        
    }
    .main_share {
        left: -50%;
        transform: translate(0%, 0%);
    }
}
@media(max-width: 576px){
    .gift_modal_main{        
        left: -10%;                
        bottom: 10%;                
        transform: translate(-25%, 10px);                
        width: 410px;
    }
    .comm_modal{        
        width: 425px;                
        position: absolute;                
        right: -10%;                
        bottom: -150px;                
        transform: translateX(-10%);
    }
    .main_share {
        left: -15%;
        transform: translateX(-15%);
    }
}
@media(max-width: 481px){
    .comm_modal{
        width: 420px;
        right: -5%;
        bottom: -150px;
        transform: translateX(-5%);
    }
    .main_share {
        left: 15%;
        transform: translate(-25%, 0%);
    }
}
@media(max-width: 426px){
    .main_share {
        left: 0%;
        transform: translate(-0%, 0%);
    }   
    .gift_modal_main {
        position: relative;
        left: -10%;
        bottom: 10%;
        transform: translate(0%, 10px);
        background: #fff;
        min-width: 295px;
        width: 295px;
    }
    .comm_modal{        
        width: 340px;                
        right: -3%;                
        bottom: -150px;                
        transform: translateX(-3%);
    }
    .main_share {
        left: -55%;
        transform: translate(45%, 0%);
    }
}

@media(max-width: 376px){
    .gift_modal_main{        
        position: relative;                
        left: -7%;                
        bottom: 10%;                
        transform: translate(7%, 10px);
    }
    .comm_modal{        
        width: 325px;                
        right: -3%;                
        bottom: -150px;                
        transform: translateX(-3%);
    }
    .main_share {
        left: 0%;
        transform: translate(-0%, 0%);
    }
}
@media(max-width: 321px){
    .gift_modal_main{

    }
    .comm_modal{
        width: 300px;
        right: 1%;
        bottom: -150px;
        transform: translateX(-1%);
    }
    .main_share {
        left: 0%;
        transform: translate(-0%, 0%);
    }
}

#gift_modal .modal-dialog{
    /* position: fixed; */
    top: 76%;
    /* width: 95%; */
    transform: translate(0,-85%);
    overflow: visible;
}
#gift_modal .btn_close i{
    color: #fff !important;
}
@media(max-width: 1200px){
    #gift_modal .modal-dialog {
        top: 72%;
    }
}
@media(max-width: 426px){
    #gift_modal .modal-dialog {
        top: 80%;
    }
}
.loaders{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.loaders.loaded{
    display: none;
}
.load_div{    
    width: 20%;        
    margin: auto;        
    text-align: center;
}
footer p{
    font-size: 12px;
}
.logo_fg{
    display: flex;
    justify-content: start;
    align-items: end;
    margin: 10px 0px;
}
.logo_fg a{

}
.logo_fg img{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    box-shadow: 0 0 20px #adadad;
    margin-right: 10px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
    padding: 2px;
}
.logo_fg h5{
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    filter: drop-shadow(2px 4px 6px #adadad);
}
.logo_fg p{
    margin: 0;
    font-size: 12px;
}