*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
body::-webkit-scrollbar{
  display: none;
}
.footer_space{
  height: 65px;
}

/*====================== navbar start=========================  */
.nav_bar{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background: #b4b4b41a;
}
.nav_profile{
  display: flex;
  align-items: center;
  height: 50px;
  /* background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61); */
  padding: 0px 10px;
}
.nav_profile  a{        
  justify-content: center;        
  align-items: center;        
  background: -moz-linear-gradient(top, rgba(246,178,219,1) 0%, rgba(251,88,155,1) 99%);        
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b2db', endColorstr='#fb589b',GradientType=0 );
  background: transparent;
} 
.nav_profile .dropstart ul{
  margin-top: 20px !important;
  padding: 10px !important;
  width: 185px;
}
.nav_profile .dropstart ul li{
  list-style: none;
  padding: 3px;
  margin: 2px;
  box-shadow: 1px 1px 6px 2px #b4b3b34f;
  transition: .4s all ease-in-out;
}
.nav_profile .dropstart ul li:hover{        
  transform: scale(1.1);
}
.nav_profile .dropstart ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.nav_profile .dropstart ul li a i{
  font-size: 14px;
  margin-right: 9px;
}
.nav_bar.scrolled {
  /* background-color: #fff !important; */
  transition: background-color 200ms linear;
  box-shadow: 1px 0px 2px #00000030;
  background-image: linear-gradient(45deg, #7665f3,#cfcafb, #c4bdfa);
}
.nav_bars.scrolled {
  display: block;
  font-size: 14px;
}
.nav_bars{
  /* display: none; */
  background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
.nav_bars h1{
  
}
.grid_dots{

/* margin-top: 10px; */
}
.grid_dots .dots{
  display: flex;
}
.dots span{
  display: block;
  height: 5px;
  width: 5px;
  background-color: #602be1;
  border-radius: 50%;
  margin: 1px;
  transition: .4s all ease-in-out;
}
.nav_profile  a:hover .dots span{
  background-color: #000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #d9cbf9; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999999;
  background-image: linear-gradient(45deg, #a097e5,#d6d0ff, #c4bdfae3);
  scrollbar-width: none;
}
.sidenav::-webkit-scrollbar{
  display: none;
}
.sidenav a {
  padding: 4px 8px 4px 10px;
  text-decoration: none;
  font-size: 18px;
  color: #9681EB;
  display: block;
  transition: 0.3s;
  background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfab3);
  margin: 5px 0px;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(222 209 249 / 0%), inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgb(199 183 247) !important;
  transition: .4s all ease-in-out;
  filter: drop-shadow(2px 4px 6px #fff);
}
.sidenav a img{    
  width: 30px;        
  margin-bottom: 8px;        
  margin-right: 5px;
}
.sidenav a:hover {
  color: #f1f1f1;
}  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-image: none;
  box-shadow: none !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* ========================== navbar end here ==================== */


/* ================== footer start here ================================  */
footer{
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 65px;
  background: #ffffff;
  z-index: 99;
  box-shadow: 1px 0px 3px #00000024;
  background-image: linear-gradient(45deg, #7565f38a,#cfcafb4a, #c4bdfa61);
}
footer i{
  font-size: 20px;
  margin-top: 14px;
}
footer a {
  text-decoration: none;
  color: #0000008a;
  font-size: 12px;
}
footer a img{
  width: 25px;
  margin-top: 10px;
  filter: drop-shadow(5px 5px 2px #0000004d);
}
.desktop_view{
  display: block;    
}
.mobile_view{
  display: none;
}
@media (max-width: 1200px){
  .desktop_view{
      display: none;    
  }
  .mobile_view{
      display: block;
  }
}
/* =======================footer end herere =============== */



/* =====================================slot game csss start here  ===========================*/
.slot_machine{
  position: relative;
  background-color: transparent;

}

#slot{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 86%;
  width: 32%;
}
#slot img{
  position: absolute;
}

.blink {
animation: blink 0.4s infinite alternate;
-webkit-animation: blink 0.4s infinite alternate;
}
@keyframes blink {
to {
  background: #c3ad00;
}
}
@-webkit-keyframes blink {
to {
  background: #c3ad00;
}
}


.gold{
color: gold !important;
}
.green{
color: green;
}

.v-align{
vertical-align: inherit !important;
}

div.modal-footer, div.modal-body, div.modal-header{background-color: #d9d9d9de;color: white;width: 100%;}

.preview{
position: absolute;
left: 0;
right: 0;
top:0;
background: rgb(255, 255, 255) !important;
margin: auto;
z-index:999999;
width:480px;
text-align: center;
}

.preview img{
position: absolute;
left: 0;
right: 0;
top:0;
background: rgb(255, 255, 255) !important;
margin: auto;
z-index:999999999;
}
.slt_game{

/* padding: 20px 0px; */
}






.game_bannar{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  min-width: 100vw;
}
.bg_game{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-1%);
  top: 1%;
  width: 200%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.img_game{
  opacity: .7;
}
.game_bannar::after{
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #1a004dab;
  z-index: -1;
}
.slot_frame{

position: relative;

height: 260px;
}
.slot_frame img{
  position: absolute;
  left: 53%;
  transform: translateX(-53%);
  width: 42%;
  top: -2px;
}







.balance_btns{

display: flex;

justify-content: center;

align-items: center;

padding: 0px 5px;

margin: 10px 0px;
}
.balance_btns label{

font-size: 12px;

width: 115%;

background: #8e37e5;

color: #fff;

height: 100%;

margin: 0px;

border-top-left-radius: 5px;

border-bottom-left-radius: 5px;

display: flex;

justify-content: center;

align-items: center;

font-weight: 600;

padding: 1px;
}
.balance_btns input{
background: transparent;
border: 2px solid #916bb878;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
color: #a9213c;
background: #fff;
}
.balance_btns input:focus{
box-shadow: none;
}
.help_btn{
background: transparent;
border-radius: 50%;
/* border: 1px solid #5859ed !important; */
padding: 3px 10px;
color: #fff;
position: absolute;
top: 5%;
right: 10%;
}
.win_history{

margin-bottom: 50px;

/* overflow: auto; */

scrollbar-width: none;
}
.win_history ul li img {

}
.win_history ul li p{

font-size: 12px;

margin: 0;

color: #8e37e5;
}
.win_history ul li{

list-style: none;

display: flex;

justify-content: space-between;

align-items: center;

border-bottom: 1px solid #8e37e545;

padding: 0;

margin-bottom: 5px;
}
.win_history ul{

padding: 0;

height: 200px;

overflow: auto;

scrollbar-width: none;
}
.win_history ul::-webkit-scrollbar{
display: none;
}
/* slot title part end here  */
.btn_spin,.btn_spin:active,.btn_spin:focus,.btn_spin:hover{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f95a78+0,940b27+99 */
  background: #f95a78; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #f95a78 0%, #940b27 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #f95a78 0%,#940b27 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #f95a78 0%,#940b27 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95a78', endColorstr='#940b27',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff !important;
}

/*============================ slot game css end here ============================== */

/* top 10 part start here  */
.history_section{
  background-color: #55046d;
  border-radius: 10px;
  padding: 10px;
  /* height: 450px; */
  margin-top: 20px;
}
.history_section ul{

}
.history_section ul li{

margin: 0px 10px;
}
.history_section ul li button{

}
.top_ten,.history{
  overflow: auto;
  height: 375px;
  scrollbar-width: none;
}
.top_ten::-webkit-scrollbar, .history::-webkit-scrollbar{
  display: none;
}
.serial img{

width: 35px;
}
.serial{

}
.serial h2{

color: #fff;

font-size: 18px;

border-radius: 50px;

height: 30px;

width: 30px;

/* background: red; */

padding: 3px;
}
.top_ten ul li h5 {

color: #fff;

font-size: 18px;
}
.top_ten ul li p{

color: #fff;

font-size: 16px;

margin: 0;
}
.top_ten ul li h3{

color: #fff;

text-align: end;

font-size: 18px;
}
.top_ten ul li,.history ul li{

list-style: none;

padding: 0;

padding: 5px;

margin: 10px 0px;

box-shadow: 2px 3px 5px 3px #00000014;

background: #6b2c7ea6;
}
.top_ten ul,.history ul{
  
padding: 0;
  
padding: 20px;
}
.history h3{

font-size: 14px;

color: #fff;

margin-bottom: 0px;

text-transform: capitalize;
}
.history p{

margin: 0;

color: #fff;

margin: 2px 5px;
}
.history h4{
  text-align: end;
  margin: 0;
  margin: 5px;
  font-weight: 600;
  font-size: 16px;
}
.incrase{
  color: #28ee92;
}
.decrase{
  color: #ee860e;
}
@media (max-width:426px){
  #slot {
      width: 210px;
  }
}
/* top 10 part end here  */



/* slider css part start here  */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@-webkit-keyframes scrollTwo {
  0% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scrollTwo {
  0% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slider,.sliders {
  margin: auto;
  overflow: hidden;
  width: 100%;
  background: transparent;
}
.slider::before,
.slider::after,.sliders::before,
.sliders::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after,.sliders::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slide-track .slide h3 {
  text-align: center;
  background-color: #00000054;
  color: #fff !important;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px;
  /* position: absolute; */
  /* top: 0px; */
  /* left: 0px; */
}
.slider::before,.sliders::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 30s linear infinite;
  animation-iteration-count: infinite;
  display: flex;
  width: calc(250px * 14);
  /* width: 82%; */
}
.sliders .slider-track {
  -webkit-animation: scrollTwo 40s linear infinite;
  animation: scrollTwo 40s linear infinite;
  animation-iteration-count: infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide,.sliders .slide {
  /* width: 82%; */
  background: transparent;
  margin: auto;
}
.win_slider{
  position: absolute;
  top: 10%;

}
.win_slidertwo{
  position: absolute;
  top: 15%;
  
}

/* slider css part end herer  */

.scroll{
  height: 60vh;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
/* .scrollTwo{
  height: 90vh;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
} */
.scroll::-webkit-scrollbar,.scrollTwo::-webkit-scrollbar{
  display: none;
  scrollbar-width: 0;
  scroll-behavior: smooth;
}
@media(max-width: 1400px){
  .slot_frame {
    position: relative;
    height: 225px;
  }
}
@media (max-width: 1300px){
 
  .slot_frame {    
    height: 185px;
  }
  
}
@media (max-width: 1281px){
  .slot_frame {
      height: 225px;
  }
}
@media(max-width: 1200px){
  .slot_frame {
    height: 200px;
  }
}
@media(max-width: 992px){
  .slot_frame {
    height: 140px;
  }
}
@media(max-width: 769px){
  #slot {
    position: absolute;
    left: 49%;
    transform: translateX(-51%);
    height: 95%;
    width: 45%;
  }
  .slot_frame {
    height: 130px;
  }
  .slot_frame img {
    left: 52%;
    transform: translateX(-52%);
    width: 60%;
  }
}
@media(max-width: 576px){
  .slot_frame img {
    left: 52%;
    transform: translateX(-52%);
    width: 75%;
  }
  #slot {
    width: 60%;
    height: 100%;
  }
  .slot_frame {
    height: 150px;
  }
  .balance_btns {
    margin: 20px 0px;
  }
}
@media(max-width: 516px){
  #slot {
    height: 95%;
  }

}
@media(max-width: 435px){
  .slot_frame {
    height: 120px;
  }
}
@media(max-width: 426px){
  .slot_frame {
      height: 145px;
  }
  .slot_frame img {
    width: 100%;
  }
  #slot {
      position: absolute;
      left: 40%;
      transform: translateX(-41%);
      width: 78%;
  }
  .balance_btns input {
    padding: 2px;
  }
  .top_ten ul li h5 {
    margin: 3px 0px;
    font-size: 14px;
  }
  .top_ten ul li h3 {
    font-size: 14px;
  }
  .top_ten ul, .history ul {
    padding: 10px;
    margin-top: 0px !important;
    padding-top: 0px;
  }
  .nav-pills .nav-link {
    font-size: 12px;
  }
  .history h3 {
    margin-top: 15px;
  }
}
@media(max-width: 400px){
  .slot_frame {
    height: 140px;
  }
}
@media(max-width: 376px){
  #slot {
    height: 100%;
  }
  .slot_frame {
    height: 125px;
  }
  .balance_btns input {
    font-size: 12px;
  }
  .top_ten ul li p {
    font-size: 12px;
  }
}
@media(max-width: 321px){
  .slot_frame {
    height: 95px;
  }
}
@media(max-width: 281px){
  .slot_frame {
    height: 80px;
  }
}